<html lang="en">

<head>
<div class="text-center">
<title>Ahmad Yazid Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/static/base.css" rel="stylesheet" media="screen">
  <h1>Ahmad Yazid</h1>
  <h2>1506722752</h2>
</div>
<head>

<body>

 <div class="container">
<form class="navbar-form navbar-right"
      method="POST"
      action="{% url 'send_login_email' %}">
 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Superlists</a>
      <form class="navbar-form navbar-right" method="POST" action="#">
        <span>Enter email to log in:</span>
        <input class="form-control" name="email" type="text" />
        {% csrf_token %}
      </form>
    </div>
  </nav>

      {% if messages %}
        <div class="row">
          <div class="col-md-8">
            {% for message in messages %}
              {% if message.level_tag == 'success' %}
                <div class="alert alert-success">{{ message }}</div>
              {% else %}
                <div class="alert alert-warning">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}



     <div class="row">
        <div class="col-sm jumbotron">
          <div class="text-center">
           <h1 id="to_do_header">{% block to_do_header %}{% endblock %}</h1>
              <form method="POST" action="{% block form_action %}{% endblock %}">
              <input name="item_text" id="id_new_item" class="form-control input-lg" placeholder="Enter a to-do item"/>
                {% csrf_token %}
              </form>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            {% block table %}
            {% endblock %}
        </div>
          {% block comment %}
          {% endblock %}
      </div>

</div>
</body>


</html>

